html  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #beef;
}
body {
    margin: 0;
    padding: 0;
}

h1 {

    text-align: center;
    background-color: gray;
}
h2 {
    width: 30%;
    height: auto;
    padding: 4px;
    border-bottom: 1px solid black;
    margin-left: 10px;
}
p {
    text-indent: 20px;
    margin: 20px;
    line-height: 1.5;
    text-align: justify;
}
.navbar {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

table, tbody, td {
    border: 1px solid;
    background-color: gray;
    text-align: center;
}

table {
    width: 30%;
    min-height: 80%;
    margin-left: auto;
    margin-right: auto;
}
.table-title {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    border: none;
}
.table-text {
    font-weight: bold;
}
